In [19]:
import os  #To import os module
import sys #To import sys module
import random #To import random module

#First program --> Single line comment starts with # and multiline comment is enclosed within ''' '''
print('Hello World')

name = 'Bibhu'  #String can be defined using single quotes '' or double quotes "" or multiline string as ''' '''
print(name)     #Variables can contain only alphabets or numbers or '_' and no other special character. And the name can only start with '_' or 
name = 15       #Python is a dynamically typed language as you can see we can use the same variable to assign a string and number 

#Data Types in Python : Numbers Strings Lists Tuples Dictonaries Set

#Python as a calculator
print('\n5+2 =',5+2)  #Addition
print('5-2 =',5-2)  #Subtraction
print('5*2 =',5*2)  #Multiplication
print('5/2 =',5+2)  #Division
print('5//2 =',5//2)#Floor Division
print('5**2 =',5**2)#Power,Ex: Number**power
print('5%2 =',5%2)  #Modulus 

#Python String Operations

a = ''' I am  #Multi line string
god'''
print(a)
b = ',powerfull'
c = '& Generous'
print(' I am god',b,c)       #Print multiple values as multiple arguments
print(' I am god',end=" ")   #Prints I am god and adds a space at the end
print(' I am Bibhu',end='\n')#Prints I am Bibhu and adds a new line at the end
print('\n'*5)                #Prints 5 new lines

Hello World
Bibhu

5+2 = 7
5-2 = 3
5*2 = 10
5/2 = 7
5//2 = 2
5**2 = 25
5%2 = 1
 I am  #Multi line string
god
 I am god ,powerfull & Generous
 I am god  I am Bibhu

In [37]:
#Lists in Python

grocery_list = ['Juice','Banana','Refined Oil','Potatoes','Milk'] #List declaration
print('The First item is:',grocery_list[0])
print('\n')

grocery_list[0] = 'Cold Drink'
print('The First item is:',grocery_list[0])
print(grocery_list[1:3])
print('\n')

other_events = ['Wash Car','Eat Dinner','Talk with gf']
to_do_list = [grocery_list,other_events]
print(to_do_list)
print(to_do_list[0][2])
print('\n')

grocery_list.append('Detergent')
print(grocery_list)
print(to_do_list)
print('\n')

grocery_list.insert(1,'Pickle')
print(grocery_list)
print(to_do_list)
print('\n')

grocery_list.remove('Pickle')
print(grocery_list)
print(to_do_list)
print('\n')

grocery_list.sort()
print(grocery_list)
print(to_do_list)
print('\n')

del(grocery_list[4])
print(grocery_list)
print(to_do_list)
print('\n')

print(max(grocery_list))
print(min(grocery_list))
print(len(grocery_list))

The First item is: Juice


The First item is: Cold Drink
['Banana', 'Refined Oil']


[['Cold Drink', 'Banana', 'Refined Oil', 'Potatoes', 'Milk'], ['Wash Car', 'Eat Dinner', 'Talk with gf']]
Refined Oil


['Cold Drink', 'Banana', 'Refined Oil', 'Potatoes', 'Milk', 'Detergent']
[['Cold Drink', 'Banana', 'Refined Oil', 'Potatoes', 'Milk', 'Detergent'], ['Wash Car', 'Eat Dinner', 'Talk with gf']]


['Cold Drink', 'Pickle', 'Banana', 'Refined Oil', 'Potatoes', 'Milk', 'Detergent']
[['Cold Drink', 'Pickle', 'Banana', 'Refined Oil', 'Potatoes', 'Milk', 'Detergent'], ['Wash Car', 'Eat Dinner', 'Talk with gf']]


['Cold Drink', 'Banana', 'Refined Oil', 'Potatoes', 'Milk', 'Detergent']
[['Cold Drink', 'Banana', 'Refined Oil', 'Potatoes', 'Milk', 'Detergent'], ['Wash Car', 'Eat Dinner', 'Talk with gf']]


['Banana', 'Cold Drink', 'Detergent', 'Milk', 'Potatoes', 'Refined Oil']
[['Banana', 'Cold Drink', 'Detergent', 'Milk', 'Potatoes', 'Refined Oil'], ['Wash Car', 'Eat Dinner', 'Talk with gf']]


['Banana', 'Cold Drink', 'Detergent', 'Milk', 'Refined Oil']
[['Banana', 'Cold Drink', 'Detergent', 'Milk', 'Refined Oil'], ['Wash Car', 'Eat Dinner', 'Talk with gf']]


Refined Oil
Banana
5

In [41]:
#Tuples in Python

tup = (1,2,3,4,5)# The way to declare a tuple. It is just like a list but the content can't be changed or unmutable.
print(type(tup))
#tup[1] = 3    'tuple' object does not support item assignment

li_tup = list(tup)
print(type(li_tup))
li_tup[1] = 3

tup = tuple(li_tup)
print(tup)

print(max(tup))
print(min(tup))

<class 'tuple'>
<class 'list'>
(1, 3, 3, 4, 5)
5
1

In [53]:
#Dictionaries in Python 

a = {'Bibhu':12,'Raman':15,'Suman':18,'Shivany':143} #Key:value Pairs way to declare a dictionary
print(a)
print(a['Bibhu']) #Indexing in dictionaries/Map
a['Bibhu'] = 123  #Assignment in dictionaries
print(a['Bibhu']) 
print(a)

#Nested Dictionaries
print('\n')
a = {'Name':{'First Name':['Bibhu','Shivany','Suman','Raman'],'Last Name':['Padhy','Tripathy','Kumar','Joshi']},'Roll Number':[12,13,14,15]}
print(a)
print(a['Name']['First Name'],a['Name']['Last Name'],a['Roll Number'])

a.keys()
a['Name'].keys()

a.values()
a['Name'].values()

{'Bibhu': 12, 'Raman': 15, 'Suman': 18, 'Shivany': 143}
12
123
{'Bibhu': 123, 'Raman': 15, 'Suman': 18, 'Shivany': 143}


{'Name': {'First Name': ['Bibhu', 'Shivany', 'Suman', 'Raman'], 'Last Name': ['Padhy', 'Tripathy', 'Kumar', 'Joshi']}, 'Roll Number': [12, 13, 14, 15]}
['Bibhu', 'Shivany', 'Suman', 'Raman'] ['Padhy', 'Tripathy', 'Kumar', 'Joshi'] [12, 13, 14, 15]

dict_values([['Bibhu', 'Shivany', 'Suman', 'Raman'], ['Padhy', 'Tripathy', 'Kumar', 'Joshi']])

In [54]:
#Sets in python

a = [1,2,3,4,5,10,8,7,7,3,2,1]
print(a)
a = set(a) #Set removes all the duplicate values and sorts the list in ascending order by default
print(a)

[1, 2, 3, 4, 5, 10, 8, 7, 7, 3, 2, 1]
{1, 2, 3, 4, 5, 7, 8, 10}

In [62]:
#For loop

for i in range(0,9,2):
    print(i,end=' ')
print('\n')
n=5
for i in range(1,n,1):
    for j in range(1,i+1):
        print('*',end=' ')
    print('\n')

print('\n'*3)
a = [1,2,3,5,222,4424,'a','Bibhu']
for i in a:
    print(i,end=' ')

0 2 4 6 8

*

* *

* * *

* * * *





1 2 3 5 222 4424 a Bibhu

In [63]:
#While loop
i=0
a=5
while(i<a):
    print(i)
    i=i+1

0
1
2
3
4

In [65]:
#if else 

age = int(input('Enter your age:'))
if age > 21:
    print('I am God')
elif age <20:
    print('I am Dog')
else:
    print('I am everyone|')

Enter your age:23
I am God

In [72]:
#Functions 
def sum(a,b):
        return(a+b)
    
if __name__ == '__main__':
    c=sum(2,3)
    print(c)

5